body{
    height:fit-content;
    background-color: #0d0d0f;
    margin-top: 5vh;
    background-image: url("../../public/Images/background1.jpg");
    margin-top: 100px;

}

.container{
    width:100%;
   
}

.mb-4{
    background-color:red;
    padding: '15px';
    border-radius: '5px' ;
}