/* Navbar Styling */
.nav-item{
    margin-left: 40px;
}
.navbar{
    background: linear-gradient(to right,rgb(246, 245, 245),rgba(213, 201, 201, 0.762));
}
.navbar-brand{
    mix-blend-mode:exclusion;

}